
<!DOCTYPE html>
<html>
<head>
    <title>
        汇金触屏版
    </title>
    <meta name="author" content="huijinbaihuo.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" CONTENT="-1">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <link rel="stylesheet" type="text/css" href="../../css/layout2014.css" charset="gbk"/>
    <link rel="stylesheet" type="text/css" href="../../css/home.css" charset="gbk"/>
</head>
<body>
<a name="top"></a>


<div class="viewport" id="mainDiv">
<!--startMain-->


<div class="floor brand-floor" id="div0">
    <h2 class="title">潮男潮女</h2>
    <div class="brand">
        <a href="													/app/home/list
" class="brand-link brand-half-floor">
            <img src="http://img30.360buyimg.com/mobilecms/jfs/t721/264/429853408/20104/c403f01c/54afcbc1N2b4ecdb2.jpg"  style="width:320px;height:173px;" width="100%" border="0" class="brand-photo" />
        </a>
        <a href="													/app/home/list
" class="brand-link brand-up-floor">
            <img src="http://img30.360buyimg.com/mobilecms/jfs/t562/117/1108708554/29033/43eb501d/54afcc6aN5b7fa785.jpg"  width="100%" border="0" class="brand-photo" />
        </a>
        <a href="													/app/home/list
" class="brand-link down-floor">
            <img src="http://img30.360buyimg.com/mobilecms/jfs/t493/353/1123723460/17455/e6871ec6/54b479c3Nbb55103f.jpg"  width="100%" border="0" class="brand-photo" />
        </a>
    </div>
</div>

<div class="floor discount-floor" id="div1">
    <h2 class="title">热门活动</h2>
    <div class="discount">
        <a href="													/app/home/list
" class="discount-link half-floor">
            <img src="http://img30.360buyimg.com/mobilecms/jfs/t778/77/434975902/22309/ca2a6c8c/54afc8fdN2e64eb75.jpg"  width="100%" border="0" class="brand-photo" />
        </a>
        <a href="													/app/home/list
" class="discount-link up-floor">
            <img src="http://img30.360buyimg.com/mobilecms/jfs/t670/32/1128466817/17503/703a5081/54afc948N15359dce.jpg"  width="100%" border="0" class="brand-photo" />
        </a>
        <a href="													/app/home/list
" class="discount-link down-floor">
            <img src="http://img30.360buyimg.com/mobilecms/jfs/t667/298/1116438110/9470/1ff137d1/54afc980N9e7c8bf9.jpg"  width="100%" border="0" class="brand-photo" />
        </a>
    </div>
</div>


<div class="floor activity-floor" id="div2">
    <h2 class="activity-floor-title"  style="padding-bottom: 0px;">主题馆（裸价爆品 任性到底）</h2>
    <ul class="activity-list">
        <li class="activity-item">
            <a href="													http://sale.jd.com/m/act/qiNKjGJoAC61r.html?resourceType=home_floor&resourceValue=8373&client=m&sid=3006db01cbac07a2e03dd584398db0c6
" class="activity-link" style="background: none repeat scroll 0 0 #fff;">
                <div style="height: 1px;position: relative;text-align: right; width: 100%; ">
                    <img style="" width="33%" src="http://img10.360buyimg.com/n4/jfs/t661/209/504673278/35390/fa2f8097/546c39d9N640651de.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t589/238/496033676/36189/c5ae7e80/546c39edN14bcc3c9.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t598/283/1040031972/10467/499600a5/54a3d504N3d56ae08.png!q70.jpg" border="0" class="activity-photo" />
                </div>
                <img src="http://img30.360buyimg.com/mobilecms/jfs/t580/139/1017777505/4489/dbacc207/54a3bc21N50a5ae58.jpg" alt="美食" class="activity-img" width="100%" border="0"/>
            </a>
        </li>
        <li class="activity-item">
            <a href="													http://sale.jd.com/m/act/wEhegTpnqaDUbj.html?resourceType=home_floor&resourceValue=8386&client=m&sid=3006db01cbac07a2e03dd584398db0c6
" class="activity-link" style="background: none repeat scroll 0 0 #fff;">
                <div style="height: 1px;position: relative;text-align: right; width: 100%; ">
                    <img style="" width="33%" src="http://img10.360buyimg.com/n4/jfs/t499/82/474790292/34737/e596e565/546c3a88N7954a5c0.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t697/190/341638973/9527/6dda2a67/54a3d511N8142b267.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t475/34/1123067759/13939/80b8361d/54b4d070Nf1a3f3f9.png!q70.jpg" border="0" class="activity-photo" />
                </div>
                <img src="http://img30.360buyimg.com/mobilecms/jfs/t661/319/1121074048/6914/bb163316/54af9bc4Ne4aa6fa2.jpg" alt="服饰鞋包" class="activity-img" width="100%" border="0"/>
            </a>
        </li>
        <li class="activity-item">
            <a href="													http://sale.jd.com/m/act/7aGrUYKNiDH3J.html?resourceType=home_floor&resourceValue=8385&client=m&sid=3006db01cbac07a2e03dd584398db0c6
" class="activity-link" style="background: none repeat scroll 0 0 #fff;">
                <div style="height: 1px;position: relative;text-align: right; width: 100%; ">
                    <img style="" width="33%" src="http://img10.360buyimg.com/n4/jfs/t547/195/493214508/35583/c1607ac/546c3a9cN7b7dc336.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t475/105/714379126/32021/69381afa/548034ddN9ccbe817.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t736/233/356273889/13640/37de0097/54a3d520N839cc7fb.png!q70.jpg" border="0" class="activity-photo" />
                </div>
                <img src="http://img30.360buyimg.com/mobilecms/jfs/t670/101/1131182446/5561/3e28f915/54b33775N4d689ea6.jpg" alt="母婴之家" class="activity-img" width="100%" border="0"/>
            </a>
        </li>
        <li class="activity-item">
            <a href="													http://sale.jd.com/m/act/b8xeW2lhTZ.html?resourceType=home_floor&resourceValue=9829&client=m&sid=3006db01cbac07a2e03dd584398db0c6
" class="activity-link" style="background: none repeat scroll 0 0 #fff;">
                <div style="height: 1px;position: relative;text-align: right; width: 100%; ">
                    <img style="" width="33%" src="http://img10.360buyimg.com/n4/jfs/t574/89/883366093/32049/445c1ae4/5493dae3Na29e1307.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t493/64/880787642/30780/76300755/5493daf1N032e705a.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t478/325/746247215/6175/b4f88a82/54a3d62bN10d94bac.png!q70.jpg" border="0" class="activity-photo" />
                </div>
                <img src="http://img30.360buyimg.com/mobilecms/jfs/t679/197/1058167866/21678/cba8e7c7/54ab83ddN85be2c18.jpg" alt="个护美妆" class="activity-img" width="100%" border="0"/>
            </a>
        </li>
        <li class="activity-item">
            <a href="													http://sale.jd.com/m/act/fVHkZbhnY6zQ.html?resourceType=home_floor&resourceValue=8383&client=m&sid=3006db01cbac07a2e03dd584398db0c6
" class="activity-link" style="background: none repeat scroll 0 0 #fff;">
                <div style="height: 1px;position: relative;text-align: right; width: 100%; ">
                    <img style="" width="33%" src="http://img10.360buyimg.com/n4/jfs/t616/213/483375778/30554/2739e652/546c3aeaNd43a8049.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t550/174/1124753003/36254/84586928/54a0cae8N8e88ae7a.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t583/102/1027339849/12104/1e34680c/54a3d53eNd1c0dea1.png!q70.jpg" border="0" class="activity-photo" />
                </div>
                <img src="http://img30.360buyimg.com/mobilecms/jfs/t622/50/1014431540/7035/6029a6a8/54a3bc99N74a7941b.jpg" alt="电脑数码" class="activity-img" width="100%" border="0"/>
            </a>
        </li>
        <li class="activity-item">
            <a href="													http://sale.jd.com/m/act/g3akmbc2qWM0.html?resourceType=home_floor&resourceValue=8382&client=m&sid=3006db01cbac07a2e03dd584398db0c6
" class="activity-link" style="background: none repeat scroll 0 0 #fff;">
                <div style="height: 1px;position: relative;text-align: right; width: 100%; ">
                    <img style="" width="33%" src="http://img10.360buyimg.com/n4/jfs/t508/344/474727178/29519/ea7cd9f/546c3af8Ndb9a4840.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t463/18/484060121/31431/be7bc23b/546c3b07N830b403a.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t742/58/412434315/10395/7b7d19f9/54acdb10N2f81672f.png!q70.jpg" border="0" class="activity-photo" />
                </div>
                <img src="http://img30.360buyimg.com/mobilecms/jfs/t568/80/1097677837/3574/bc2c88c/54b325bdN2ad15e16.jpg" alt="手机通讯" class="activity-img" width="100%" border="0"/>
            </a>
        </li>
        <li class="activity-item">
            <a href="													http://sale.jd.com/m/act/At6Mqvn3Co2ZR.html?resourceType=home_floor&resourceValue=8381&client=m&sid=3006db01cbac07a2e03dd584398db0c6
" class="activity-link" style="background: none repeat scroll 0 0 #fff;">
                <div style="height: 1px;position: relative;text-align: right; width: 100%; ">
                    <img style="" width="33%" src="http://img10.360buyimg.com/n4/jfs/t538/14/493888707/36454/99900c58/546c3b16N358c00db.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t688/19/479731343/34469/66c3f3c/546c3b23N91349165.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t481/137/1154514471/13966/b8797727/54b4e108Nd0008103.png!q70.jpg" border="0" class="activity-photo" />
                </div>
                <img src="http://img30.360buyimg.com/mobilecms/jfs/t622/90/1148980019/7136/94d39584/54af9be7Na7603683.jpg" alt="家居家装" class="activity-img" width="100%" border="0"/>
            </a>
        </li>
        <li class="activity-item">
            <a href="													http://sale.jd.com/m/act/RFdW7OiCpglwM.html?resourceType=home_floor&resourceValue=8380&client=m&sid=3006db01cbac07a2e03dd584398db0c6
" class="activity-link" style="background: none repeat scroll 0 0 #fff;">
                <div style="height: 1px;position: relative;text-align: right; width: 100%; ">
                    <img style="" width="33%" src="http://img10.360buyimg.com/n4/jfs/t490/325/1125135163/12437/149897c7/54afba05N5e4051c6.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t448/101/1139852471/11637/3d4bebda/54afba16N511c9c1a.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t721/15/425670862/6226/62017cf4/54afba27N9c2642c3.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t529/266/1124484329/13651/8c0a6bd/54afba3fN49465a1e.png!q70.jpg" border="0" class="activity-photo" />
                </div>
                <img src="http://img30.360buyimg.com/mobilecms/jfs/t694/57/1142458022/4152/9c2773b1/54b31a18Nc8b76687.jpg" alt="家电城" class="activity-img" width="100%" border="0"/>
            </a>
        </li>
        <li class="activity-item">
            <a href="													http://sale.jd.com/m/act/4KgIHXnAepzE5.html?resourceType=home_floor&resourceValue=8379&client=m&sid=3006db01cbac07a2e03dd584398db0c6
" class="activity-link" style="background: none repeat scroll 0 0 #fff;">
                <div style="height: 1px;position: relative;text-align: right; width: 100%; ">
                    <img style="" width="33%" src="http://img10.360buyimg.com/n4/jfs/t484/79/494507928/33885/cecd4206/546c3b5aNd37040f6.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t466/316/463500580/33447/92ad68ef/546c3b6bNad47a77e.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t643/213/1019125853/11146/e064a090/54a3d57aN6a140e75.png!q70.jpg" border="0" class="activity-photo" />
                </div>
                <img src="http://img30.360buyimg.com/mobilecms/jfs/t514/327/1024306527/7906/80f200e7/54a3bcf8N7c92293e.jpg" alt="图书音像" class="activity-img" width="100%" border="0"/>
            </a>
        </li>
        <li class="activity-item">
            <a href="													http://sale.jd.com/m/act/jsQkWFDmw0dah6.html?resourceType=home_floor&resourceValue=10229&client=m&sid=3006db01cbac07a2e03dd584398db0c6
" class="activity-link" style="background: none repeat scroll 0 0 #fff;">
                <div style="height: 1px;position: relative;text-align: right; width: 100%; ">
                    <img style="" width="33%" src="http://img10.360buyimg.com/n4/jfs/t625/346/827408993/6887/b1576df1/548eca92N008614d4.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t772/290/163116357/11538/c9c6c2b4/548ecaa1N9875af98.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t658/214/836303120/11538/f3edb200/548ecb0aN44005fbb.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t583/137/1031464628/8142/93952cff/54a3d587Nc6c2f3b8.png!q70.jpg" border="0" class="activity-photo" />
                </div>
                <img src="http://img30.360buyimg.com/mobilecms/jfs/t622/353/1142119481/5396/b204d543/54b47e74N17124dbd.jpg" alt="酒饮馆" class="activity-img" width="100%" border="0"/>
            </a>
        </li>
        <li class="activity-item">
            <a href="													http://sale.jd.com/app/act/YpaSvjn2oxh.html?resourceType=home_floor&resourceValue=10605&client=m&sid=3006db01cbac07a2e03dd584398db0c6
" class="activity-link" style="background: none repeat scroll 0 0 #fff;">
                <div style="height: 1px;position: relative;text-align: right; width: 100%; ">
                    <img style="" width="33%" src="http://img10.360buyimg.com/n4/jfs/t763/354/426680689/13373/2f58edd2/54afb9d1Neb9203f3.jpg!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t565/115/1130777809/16264/1a948a3e/54b4e141N8b035c6d.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t601/342/1129984783/13930/7402a94d/54b4e154N5739bdff.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t496/134/1138893071/14972/95d47dc/54b4e162N3d9ee79e.png!q70.jpg" border="0" class="activity-photo" />
                </div>
                <img src="http://img30.360buyimg.com/mobilecms/jfs/t493/189/1109847803/9785/ff3971a2/54afb857N5609df0c.jpg" alt="养生馆" class="activity-img" width="100%" border="0"/>
            </a>
        </li>
        <li class="activity-item">
            <a href="													http://sale.jd.com/app/act/RfVwUKPno3Qad1p.html?resourceType=home_floor&resourceValue=10606&client=m&sid=3006db01cbac07a2e03dd584398db0c6
" class="activity-link" style="background: none repeat scroll 0 0 #fff;">
                <div style="height: 1px;position: relative;text-align: right; width: 100%; ">
                    <img style="" width="33%" src="http://img10.360buyimg.com/n4/jfs/t571/321/1151933091/12244/a0a59418/54b4e171N5c40eb43.png!q70.jpg" border="0" class="activity-photo" />
                    <img style=" display:none; " width="33%" src="http://img10.360buyimg.com/n4/jfs/t556/173/1155918817/13754/516832d3/54b4e17eN40f924f1.png!q70.jpg" border="0" class="activity-photo" />
                </div>
                <img src="http://img30.360buyimg.com/mobilecms/jfs/t547/199/1113804928/6765/dc0814ae/54afaae3N07bc38d7.jpg" alt="运动户外" class="activity-img" width="100%" border="0"/>
            </a>
        </li>
    </ul>
    <div class="activity-clear"></div>
</div>
<!--endMain-->
</div>



<div style="display:none;">
    <img src="/ja.jsp?&amp;utmn=1944718496&amp;utmr=-&amp;utmp=%2Findex%2Findex.action%3F&amp;guid=ON&jav=html5&pin=-&utmac=MO-J2011-1&provinceId=&cityId=&countryId=&townId=&skuId=&skuPrice=&stockState=" />
</div>
</body>
<!--&lt;!&ndash;<script src="http://st.360buyimg.com/m/js/zepto.min.js?v=jd2015010820" type="text/javascript" ></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="http://st.360buyimg.com/m/js/2014/base/Mbase.js?v=jd2015010820" type="text/javascript" ></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script type="text/javascript">&ndash;&gt;-->
<!--//    M.define("html5_2014",function(a){var b=function(c){this.init(c)};M.object.merge(b.prototype,{init:function(c){if(M.object.isObject(c)){this.head=(c&&c.head)?c.head:null;this.footer=(c&&c.footer)?c.footer:null;this.headInit();this.footerInit();this.downInit()}},headInit:function(){var c=this;if(c.head&&M.object.isObject(c.head)){c.isSearch=c.head.isSearch?true:false;c.appdown=c.head.appDown?c.head.appDown:null;if(c.isSearch){c.searchWord=c.head.searchWord?c.head.searchWord:"";c.searchliIdList=[];c.searchLoop=false;c.searchCookie=false;c.oldkeyword=c.searchWord;$("#layout_newkeyword").val("")}if(c.appdown&&M.object.isObject(c.appdown)){if(!c.appdown.withScreen){$("#layout_downApp").css("position","relative")}}}},footerInit:function(){var c=this;if(c.footer){if(M.object.isObject(c.footer)){c.toPcHomeUrl=c.footer.toPcHomeUrl?c.footer.toPcHomeUrl:"http://www.jd.com/#m"}else{c.toPcHomeUrl="http://www.jd.com/#m"}}},searchRender:function(){var c=this;$("#layout_btnJdBox").on("click",function(){c.searchLoop=true;$("#layout_jdBox").hide();$("#layout_jdSearch").show()});$("#layout_cancelSearch").on("click",function(){c.searchLoop=false;$("#layout_jdBox").show();$("#layout_jdSearch").hide();$("#layout_newkeyword").val(c.searchWord)});$("#layout_cancelHotWord").on("click",function(){$("#layout_newkeyword").val("")});$("#layout_newkeyword").on("focus",function(){c.searchLoop=true;c.searchCookie=false});c.searchSuggestionControl()},searchSuggestionControl:function(){var f=this;var e=$("#layout_newkeyword").val().trim();if(e==""&&f.searchLoop){f.searchLoop=false;if(!f.searchCookie){$("#layout_shelper").html("");$("#layout_shelper").hide();var d=M.cookie.getCookie("searchhistory");if(d&&d.length>0){d=decodeURIComponent(d);var c=d.split("|");f.searchSuggestionUnbind();$("#layout_shelper").html(f.searchSuggestionHtml(true,c));f.searchSuggestionBind(true);$("#layout_shelper").show()}}f.searchCookie=true;f.searchLoop=true}else{if(e!=f.searchWord&&f.oldkeyword!=e&&f.searchLoop){f.searchLoop=false;f.oldkeyword=e;f.searchCookie=false;M.http.ajax({url:"/ware/searchSuggestion.action",data:{keyword:e,_format_:"json"},success:function(j){if(j&&j.searchTipList&&j.searchTipList.length>0){var g=[];for(var h=0;h<j.searchTipList.length;h++){j.searchTipList[h].wname&&g.push(j.searchTipList[h].wname)}f.searchSuggestionUnbind();$("#layout_shelper").html(f.searchSuggestionHtml(false,g));f.searchSuggestionBind(false);$("#layout_shelper").show()}f.searchLoop=true},error:function(g){f.searchLoop=true}})}}setTimeout(function(){f.searchSuggestionControl()},500)},searchSuggestionHtml:function(d,c){var f=this;f.searchliIdList=[];var g="<ul>";for(var e=0;e<c.length;e++){f.searchliIdList.push("layout_searchhistory_"+e);if(c[e]!=""){g+='<li><a id="layout_searchhistory_'+e+'" href="javascript:void(0);" '+(f.searchOld==c[e]?'class="layout-on"':"")+">"+c[e]+"</a></li>"}}g+="</ul>";g+='<div class="layout-new-tbl-type">';if(d){g+='<a href="javascript:void(0);" id="layout_clearHistory" class="layout-new-tbl-cell">&#28165;&#38500;&#21382;&#21490;&#35760;&#24405;</a><span class="layout-new-bar"></span>'}g+='<a href="javascript:void(0)" id="layout_closeTip" class="layout-new-tbl-cell">&#20851;&#38381;</a>';g+="</div>";return g},searchSuggestionUnbind:function(){var e=this;if(e.searchliIdList&&e.searchliIdList.length>0){for(var d=0,c=e.searchliIdList.length;d<c;d++){$("#"+e.searchliIdList[d]).off("click")}}},searchSuggestionBind:function(c){var e=this;if(e.searchliIdList.length>0){for(var d=0;d<e.searchliIdList.length;d++){$("#"+e.searchliIdList[d]).on("click",function(){e.writeSuggestion(e.searchliIdList[d])})}}if(c){$("#layout_clearHistory").on("click",function(){e.clearHistory()})}$("#layout_closeTip").on("click",function(){e.closeTip()})},closeTip:function(){$("#layout_shelper").html("");$("#layout_shelper").hide()},writeSuggestion:function(c){if($("#"+c).text()!=""){$("#layout_newkeyword").val($("#"+c).text());$("#layout_shelper").html("");$("#layout_searchForm").submit()}},clearHistory:function(){M.http.ajax({url:"/ware/deleteHistory.json",success:function(c){$("#layout_shelper").html("");$("#layout_shelper").hide()},error:function(c){$("#layout_shelper").html("");$("#layout_shelper").hide()}})},pageBack:function(){var c=window.location.href;if(/#top/.test(c)){window.history.go(-2);window.location.load(window.location.href)}else{window.history.back()}},headRender:function(){var c=this;if($("#layout_btnJdkey")){$("#layout_btnJdkey").on("click",function(){if($("#layout_jdkey").css("display")=="none"){$("#layout_jdkey").show()}else{$("#layout_jdkey").hide()}});$("#layout_urlblack").on("click",function(){c.pageBack()})}},footerRender:function(){var c=this;$("#layout_toPcHome").on("click",function(){c.toPcHome()})},toPcHome:function(){var c=this;M.cookie.setCookie("pcm","1",3,"",".jd.com");window.location.href=c.toPcHomeUrl},downInit:function(){var d=this;var c=Date.now();if((d.head&&d.head.appdown)||d.footer){if(!localStorage.downCloseDate||(localStorage.downCloseDate&&c-parseInt(localStorage.downCloseDate,10)>86400000)){d.weiXinIsInstall=false;d.DOWN_APP_URL="http://m.jd.com/download/downApp.html";d.DOWN_APP_IOS="http://union.m.jd.com/download/go.action?to=http%3A%2F%2Fitunes.apple.com%2Fcn%2Fapp%2Fid414245413&client=apple&unionId=12532&subunionId=m-top&key=e4dd45c0f480d8a08c4621b4fff5de74";d.DOWN_APP_ANDROID="http://3.cn/zKIUkC";d.DOWN_WEIXIN="http://a.app.qq.com/o/simple.jsp?pkgname=com.jingdong.app.mall&g_f=991850";d.DOWN_IPAD="http://3.cn/rP34ke";d.INTENT_URL="openApp.jdMobile://360buy?params=";d.Chrome_Intent="intent://m.jd.com/#Intent;scheme=openApp.jdMobile;package=com.jingdong.app.mall;end";d.isChrome=M.browser.getBrowser().browser=="chrome";d.isAndroid=M.browser.getOs().os=="android";d.isWeiXin=M.browser.getBrowser().browser=="weixin";d.isInstall=false;if(d.isWeiXin){if(window.WeixinJSBridge&&WeixinJSBridge.invoke){d.downWeixincheck()}else{document.addEventListener("WeixinJSBridgeReady",d.weixincheck,!1)}}}else{$("#layout_downApp").css("display","none")}}},downWeixincheck:function(){var c=this;WeixinJSBridge.invoke("getInstallState",{packageName:"com.jingdong.app.mall",packageUrl:"openApp.jdMobile://"},function(f){var g=f.err_msg,d=0;if(g.indexOf("get_install_state:yes")>-1){c.isInstall=true}})},install:function(d,f){var e=this;if(e.isWeiXin){if(e.isInstall){location.href=f||e.getIntentUrl()}else{if(d&&~d.indexOf("downApp.html")){d=DOWN_WEIXIN}location.href=d||e.DOWN_WEIXIN}return}if(M.browser.getOs().os=="ipad"){e.redirect(DOWN_IPAD,DOWN_IPAD);return}var c=Date.now();if(!(M.browser.getOs().os!="ios"&&M.browser.getOs().os!="android")||(M.browser.getOs().os!="ipod"&&!M.browser.getOs().phone)){location.href=d||DOWN_APP_URL;return}setTimeout(function(){e.download(c,d)},300);e.redirect(d,f)},redirect:function(c,f){var d=this;if(d.isChrome){if(d.isAndroid){location.href=f?d.getChromeIntent(f):d.Chrome_Intent}else{location.href=f||c}}else{var e=document.createElement("iframe");e.style.cssText="display:none;width:0px;height:0px;";e.body.appendChild(iframe);e&&(e.src=(f||d.getIntentUrl()))}},download:function(f,d){var e=this;var c=Date.now();if(f&&c-f<_t.time+200){if(e.isAndroid){window.location.href=d||DOWN_APP_URL;return}if(d&&d.indexOf("downApp.html")>=0){d=M.browser.getOs().os=="ipad"?e.DOWN_IPAD:e.DOWN_APP_IOS}window.location.href=d||(M.browser.getOs().os=="ipad"?e.DOWN_IPAD:e.DOWN_APP_IOS)}},getIntentUrl:function(){var c=this;return c.INTENT_URL+"&r="+(new Date()).getTime()},getChromeIntent:function(c){return"intent://m.jd.com/#Intent;scheme="+c+";package=com.jingdong.app.mall;end"},downRender:function(){var c=this;if(c.head&&c.head.appDown){$("#layout_openJD").on("click",function(f){var d=$("#layout_openJD").attr("href");var g=$("#layout_openJD").attr("app_href");c.install(d,g)});$("#layout_close-btn").on("click",function(){localStorage.downCloseDate=Date.now();$("#layout_downApp").css("display","none")})}if(c.footer){$("#layout_toClient").on("click",function(f){var d=$("#layout_toClient").attr("href");var g=$("#layout_toClient").attr("app_href");c.install(d,g)})}},run:function(){if(this.footer){this.footerRender()}if(this.head){this.headRender();if(this.isSearch){this.searchRender()}}this.downRender()}});a.clazz=b});-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
<!--&lt;!&ndash;<script type="text/javascript">&ndash;&gt;-->
<!--//    M.define("BuriedPoint",function(a){var b=function(c){this.init(c)};M.object.merge(b.prototype,{init:function(c){this.pin=c},run:function(){var c=this;M.require("http://h5.m.jd.com/active/common/ping.min.js",function(){try{if(c.pin){ping.init({userPin:c.pin})}else{ping.init()}}catch(d){M.log(d,"error")}})}});a.clazz=b});-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
<!--&lt;!&ndash;<script type="text/javascript" src="http://st.360buyimg.com/m/js/2014/m/index/index.js?v=jd2015010820"  charset="GBK" ></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script>&ndash;&gt;-->
<!--//    $(function(){-->
<!--//        var jsArgs = {};-->
<!--//        jsArgs['index'] = {sliderImgList:[{url:'http://sale.jd.com/m/act/ez3U2kQoTsag.html?resourceType=listActivity&resourceValue=0_0_1_57037&resourceType=index_activity&resourceValue=&client=m&sid=3006db01cbac07a2e03dd584398db0c6',title:'你的甜蜜，我们全包了',img:'http://img30.360buyimg.com/mobilecms/s480x180_jfs/t514/234/1097417312/222114/4cb9e27d/54b38027Nf91edda8.jpg'},{url:'http://sale.jd.com/m/act/BDWOMsKTfP6Sw84t.html?resourceType=listActivity&resourceValue=0_0_2_57028&resourceType=index_activity&resourceValue=&client=m&sid=3006db01cbac07a2e03dd584398db0c6',title:'畅销好书9.9元封顶',img:'http://img30.360buyimg.com/mobilecms/s480x180_jfs/t586/155/1070597395/101836/37f92f70/54afae5fN38e91b45.jpg'},{url:'http://sale.jd.com/m/act/Y32sO7XWQVuTc.html?resourceType=listActivity&resourceValue=0_0_3_57026&resourceType=index_activity&resourceValue=&client=m&sid=3006db01cbac07a2e03dd584398db0c6',title:'无乐不作嗨翻周末9.9元起',img:'http://img30.360buyimg.com/mobilecms/s480x180_jfs/t475/137/1125264323/286929/922afd45/54afac73N523a28e7.jpg'},{url:'http://sale.jd.com/m/act/oBhTqrgpNZlud.html?resourceType=listActivity&resourceValue=0_0_4_57036&resourceType=index_activity&resourceValue=&client=m&sid=3006db01cbac07a2e03dd584398db0c6',title:'母婴日满500减100',img:'http://img30.360buyimg.com/mobilecms/s480x180_jfs/t490/141/1117346297/206222/c38e1405/54b33039N8e857119.jpg'},{url:'http://sale.jd.com/m/act/f6eRr8khPNmD57Y1.html?resourceType=listActivity&resourceValue=0_0_5_57047&resourceType=index_activity&resourceValue=&client=m&sid=3006db01cbac07a2e03dd584398db0c6',title:'年惠大舞台',img:'http://img30.360buyimg.com/mobilecms/s480x180_jfs/t682/195/1151641119/58929/8df61640/54b487a5Nc567ffeb.jpg'},{url:'http://sale.jd.com/m/act/EftscHx5Kyo.html?resourceType=listActivity&resourceValue=0_0_6_57030&resourceType=index_activity&resourceValue=&client=m&sid=3006db01cbac07a2e03dd584398db0c6',title:'美妆大片就要你有样',img:'http://img30.360buyimg.com/mobilecms/s480x180_jfs/t538/181/1130567658/73191/aa5dee69/54afafefN0bb5b071.jpg'},{url:'http://sale.jd.com/m/act/aX0kT6YJBjs.html?resourceType=listActivity&resourceValue=0_0_7_57043&resourceType=index_activity&resourceValue=&client=m&sid=3006db01cbac07a2e03dd584398db0c6',title:'年货提前抢，预约享5折',img:'http://img30.360buyimg.com/mobilecms/s480x180_jfs/t490/26/1148714420/100854/991d21d4/54b4731fN7e464ed1.jpg'},{url:'http://sale.jd.com/m/act/1bLhsVz02X5d.html?resourceType=listActivity&resourceValue=0_0_8_55370&resourceType=index_activity&resourceValue=&client=m&sid=3006db01cbac07a2e03dd584398db0c6',title:'一五一十',img:'http://img30.360buyimg.com/mobilecms/s480x180_jfs/t520/325/1043355936/101362/b007a1a3/54a8de08N6ea77aed.jpg'}],themeIdList : ['theme10'],seckill : {seckillTime : '2015-01-14 15:59:59', timeRemain : 12428},downloadHideTime : 1};-->
<!--//        jsArgs['html5_2014'] = {head:null,footer:{toPcHomeUrl:null}};-->
<!--//        M.setRunMod(['html5_2014']);-->
<!--//-->
<!--//        M.setRunMod('index');-->
<!--//        jsArgs['BuriedPoint'] = '';-->
<!--//        M.setRunMod(['BuriedPoint']);-->
<!--//        M.runner(jsArgs);-->
<!--//    });-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
</html>
