
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="format-detection" content="telephone=no" />
    <title>国际大牌特惠</title>
    <link href="http://sale.jd.com/css/mobile/m.base.css?t=1501152020" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://sale.jd.com/jm.htm?js=/m-misc/script/appframework.js&t=1501152020"></script>
    <style type="text/css">

        .j-custom-2 .j-custom-wrap{width: 100%;}
        body{-webkit-tap-highlight-color: rgba(0,0,0,0);}
        .JShop-m-two-column-30 * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;
        }

        .JShop-m-two-column-30 a {
            display: block;
        }

        .JShop-m-two-column-30 {
            font-size: 14px;
            width: 100%;
            min-width: 320px;
            padding:10px 0;
        }

        .JShop-m-two-column-30 .JShop-m-two-column-t {
            width: 100%;
            padding: 0 10px;
        }

        .JShop-m-two-column-30 .JShop-m-two-column-t li {
            height: 198px;
            margin:0 auto;
            margin-top:1%;
        }

        .JShop-m-two-column-30 .JShop-m-two-column-t li:first-child {
            margin-top: 0px;
        }

        .JShop-m-two-column-30 .JShop-m-two-column-t .module {
            margin-right: 2%;
            float: left;
            background-color: #FFF;
            padding: .7em .5em;
            width: 49%;
            box-shadow: 0 1px 1px 0px rgba(0, 0, 0, .2);
        }

        .JShop-m-two-column-30 .JShop-m-two-column-t .module:last-child {
            margin-right: 0px;
        }

        .JShop-m-two-column-30 .JShop-m-two-column-t .module .img {
            height: 8.5em;
            line-height: 8.5em;
            vertical-align: middle;
            text-align: center;
            overflow: hidden;
            padding:2px;
        }

        .JShop-m-two-column-30 .JShop-m-two-column-t .module .img img {
            max-height: 8.5em;
        }

        .JShop-m-two-column-30 .JShop-m-two-column-t .module .g-title {
            font-size: .857em;
            height: 2.6em;
            line-height: 1.4em;
            overflow: hidden;
            color: #333333;
            width: 100%;
            margin-top: 6px;
            text-align: left;
            word-break: break-all;
        }

        .JShop-m-two-column-30 .JShop-m-two-column-t .module .g-price {
            font-size: 1.07em;
            color: #ff0000;
            text-align: left;

        }

    </style>
</head>
<body>
<div id="mob_adv_1001"></div>
<div style="background-color:">
<div class="m-w" >

<div class='outer-container' >




<!--<div class=' j-custom-2' instanceId='340267'  style="margin-bottom: 0;  " module-name="m-htmlContent">-->


    <!--<div class="mc" style=";min-height:0px;">-->
        <!--<div class="j-custom-wrap">-->
            <!--<div class="j-module" module-function="zoom" module-param="{'needZoom':  true }">-->
                <!--<img class="J_imgLazyload" src="http://img14.360buyimg.com/cms/g10/M00/13/04/rBEQWFFj4PUIAAAAAAAESxyqJLUAADvdAIHC9oAAARj186.gif"  srcset="http://img12.360buyimg.com/cms/jfs/t565/190/1044452045/48732/53214ab0/54a8ae4fNa0b729f3.jpg" width="640" height="270" alt="" />-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->




<div class=' JShop-m-two-column-30' instanceId='340268'  style="margin-bottom: 0;  " module-name="Jshop_ProductID">


<div class="mc" style=";min-height:0px;">
<div class="JShop-m-two-column">
<ul class="JShop-m-two-column-t">
    <li>
        <div class="module">
            <a href='http://m.jd.com/product/1431853659.html'>
                <p class="img">
                    <img class="brand-photo" src="http://img10.360buyimg.com/n6/jfs/t637/270/911686021/321755/225ff3cd/5499081aNfc6c9c54.jpg"  >
                </p>
                <p class="g-title"> IZOD新款冬季男士保暖长款加厚羽绒服棉服鸭绒服男装外套 红色 XS</p>
                <p class="g-price">￥<span class='jdNum'  jshop='price'  jdprice='1431853659' ></span></p>
            </a>
        </div>
        <div class="module">
            <a href='http://m.jd.com/product/1349428850.html'>
                <p class="img">
                    <img class="J_imgLazyload" src="http://img14.360buyimg.com/cms/g10/M00/13/04/rBEQWFFj4PUIAAAAAAAESxyqJLUAADvdAIHC9oAAARj186.gif"  srcset="http://img14.360buyimg.com/n6/jfs/t316/251/1796341924/86672/a5e76485/544217cdN4b743abb.jpg">
                </p>
                <p class="g-title"> 圣大保罗 秋冬外套 中年男装休闲  纯色羽绒服PW11WJ804 褐色U4 46(160/80B)欧码</p>
                <p class="g-price">￥<span class='jdNum'  jshop='price'  jdprice='1349428850' ></span></p>
            </a>
        </div>
    </li>
    <li>
        <div class="module">
            <a href='http://m.jd.com/product/1349450556.html'>
                <p class="img">
                    <img class="J_imgLazyload" src="http://img14.360buyimg.com/cms/g10/M00/13/04/rBEQWFFj4PUIAAAAAAAESxyqJLUAADvdAIHC9oAAARj186.gif"  srcset="http://img13.360buyimg.com/n6/jfs/t334/242/1794141730/55768/4d0dea86/54421861N09fe6909.jpg">
                </p>
                <p class="g-title"> 圣大保罗 秋冬外套 中年男装休闲  纯色羽绒服PW11WJ811 墨绿色P9 46(160/80B)欧码</p>
                <p class="g-price">￥<span class='jdNum'  jshop='price'  jdprice='1349450556' ></span></p>
            </a>
        </div>
        <div class="module">
            <a href='http://m.jd.com/product/1360858402.html'>
                <p class="img">
                    <img class="J_imgLazyload" src="http://img14.360buyimg.com/cms/g10/M00/13/04/rBEQWFFj4PUIAAAAAAAESxyqJLUAADvdAIHC9oAAARj186.gif"  srcset="http://img13.360buyimg.com/n6/jfs/t517/131/83989825/59403/d504a5fd/544dbcd6N154538ef.jpg">
                </p>
                <p class="g-title"> 伦敦雾/LONDONFOG 专柜正品男士时尚休闲羽绒服LW09WJ803 烟灰色55 46 160/80B</p>
                <p class="g-price">￥<span class='jdNum'  jshop='price'  jdprice='1360858402' ></span></p>
            </a>
        </div>
    </li>
    <li>
        <div class="module">
            <a href='http://m.jd.com/product/1352521063.html'>
                <p class="img">
                    <img class="J_imgLazyload" src="http://img14.360buyimg.com/cms/g10/M00/13/04/rBEQWFFj4PUIAAAAAAAESxyqJLUAADvdAIHC9oAAARj186.gif"  srcset="http://img13.360buyimg.com/n6/jfs/t538/291/10719864/191193/5e30a501/54471e57N3b4a6edb.jpg">
                </p>
                <p class="g-title"> JEEP吉普 专柜正品 男装商务休闲无帽立领羽绒服 JW11WJ811 军绿色N7 46 160/80B</p>
                <p class="g-price">￥<span class='jdNum'  jshop='price'  jdprice='1352521063' ></span></p>
            </a>
        </div>
        <div class="module">
            <a href='http://m.jd.com/product/1368942989.html'>
                <p class="img">
                    <img class="J_imgLazyload" src="http://img14.360buyimg.com/cms/g10/M00/13/04/rBEQWFFj4PUIAAAAAAAESxyqJLUAADvdAIHC9oAAARj186.gif"  srcset="http://img12.360buyimg.com/n6/jfs/t565/204/248299698/274774/2d360512/5459a2bfNb205b988.jpg">
                </p>
                <p class="g-title"> JEEP 专柜正品 男士商务休闲无帽立领 亮面保暖羽绒服 JW11WJ803 军绿色N7 46 160/80B</p>
                <p class="g-price">￥<span class='jdNum'  jshop='price'  jdprice='1368942989' ></span></p>
            </a>
        </div>
    </li>
    <li>
        <div class="module">
            <a href='http://m.jd.com/product/1420246312.html'>
                <p class="img">
                    <img class="J_imgLazyload" src="http://img14.360buyimg.com/cms/g10/M00/13/04/rBEQWFFj4PUIAAAAAAAESxyqJLUAADvdAIHC9oAAARj186.gif"  srcset="http://img14.360buyimg.com/n6/jfs/t541/54/1231638056/186697/ac2b61fd/54bc7065N2798ede4.jpg">
                </p>
                <p class="g-title"> HAZZYS哈吉斯 秋冬新款男士羽绒服外套英伦风ASFZU04DU11 绿色GR 185/104A</p>
                <p class="g-price">￥<span class='jdNum'  jshop='price'  jdprice='1420246312' ></span></p>
            </a>
        </div>
        <div class="module">
            <a href='http://m.jd.com/product/1340805460.html'>
                <p class="img">
                    <img class="J_imgLazyload" src="http://img14.360buyimg.com/cms/g10/M00/13/04/rBEQWFFj4PUIAAAAAAAESxyqJLUAADvdAIHC9oAAARj186.gif"  srcset="http://img12.360buyimg.com/n6/jfs/t316/246/1598143696/216132/4d735db8/543e0a1dN6d120e9e.jpg">
                </p>
                <p class="g-title"> JEEP/吉普 专柜正品 冬季新款 男士休闲休闲白鸭绒羽绒服JW11WJ804 军绿色N7 165/84B(M)48</p>
                <p class="g-price">￥<span class='jdNum'  jshop='price'  jdprice='1340805460' ></span></p>
            </a>
        </div>
    </li>
    <li>
        <div class="module">
            <a href='http://m.jd.com/product/1377354113.html'>
                <p class="img">
                    <img class="J_imgLazyload" src="http://img14.360buyimg.com/cms/g10/M00/13/04/rBEQWFFj4PUIAAAAAAAESxyqJLUAADvdAIHC9oAAARj186.gif"  srcset="http://img12.360buyimg.com/n6/jfs/t610/91/965707095/253919/749b7c42/54a24304N46d46756.jpg">
                </p>
                <p class="g-title"> JEEP吉普专柜正品男裝 新款便携式男士羽绒服 白鸭绒轻JW12WJ815 军绿色N7 170/88B(L)50</p>
                <p class="g-price">￥<span class='jdNum'  jshop='price'  jdprice='1377354113' ></span></p>
            </a>
        </div>
        <div class="module">
            <a href='http://m.jd.com/product/1333141387.html'>
                <p class="img">
                    <img class="J_imgLazyload" src="http://img14.360buyimg.com/cms/g10/M00/13/04/rBEQWFFj4PUIAAAAAAAESxyqJLUAADvdAIHC9oAAARj186.gif"  srcset="http://img13.360buyimg.com/n6/jfs/t331/305/1714375294/62068/11977d41/5440d8dcN51cbaa8c.jpg">
                </p>
                <p class="g-title"> ESPRIT/埃斯普利特 男款修身羽绒外套XD0120F 湖蓝 S</p>
                <p class="g-price">￥<span class='jdNum'  jshop='price'  jdprice='1333141387' ></span></p>
            </a>
        </div>
    </li>
    <li>
        <div class="module">
            <a href='http://m.jd.com/product/1379052454.html'>
                <p class="img">
                    <img class="J_imgLazyload" src="http://img14.360buyimg.com/cms/g10/M00/13/04/rBEQWFFj4PUIAAAAAAAESxyqJLUAADvdAIHC9oAAARj186.gif"  srcset="http://img14.360buyimg.com/n6/jfs/t541/182/308286749/136657/d260206e/545d0e1dNc2377986.jpg">
                </p>
                <p class="g-title"> 大嘴猴2015秋冬新款男士拼接色羽绒服paulfrank正品羽绒服 蓝色 M</p>
                <p class="g-price">￥<span class='jdNum'  jshop='price'  jdprice='1379052454' ></span></p>
            </a>
        </div>
        <div class="module">
            <a href='http://m.jd.com/product/1360779944.html'>
                <p class="img">
                    <img class="J_imgLazyload" src="http://img14.360buyimg.com/cms/g10/M00/13/04/rBEQWFFj4PUIAAAAAAAESxyqJLUAADvdAIHC9oAAARj186.gif"  srcset="http://img10.360buyimg.com/n6/jfs/t475/355/302220323/199020/cd537256/545c3fdbNd185b36e.jpg">
                </p>
                <p class="g-title"> 诺帝卡 NAUTICA 男士 鸭绒立领 防风防水 羽绒服 JC33023（2色可选） 绿色 3DG XL</p>
                <p class="g-price">￥<span class='jdNum'  jshop='price'  jdprice='1360779944' ></span></p>
            </a>
        </div>
    </li>


</ul>
</div>
</div>
</div>




<!--<div class=' j-custom-2' instanceId='351629'  style="margin-bottom: 0;  " module-name="m-htmlContent">-->


    <!--<div class="mc" style=";min-height:0px;">-->
        <!--<div class="j-custom-wrap">-->
            <!--<div class="j-module" module-function="zoom" module-param="{'needZoom':  true }">-->
                <!--<a href="http://sale.jd.com/m/act/pcPSAfmjW1U8l.html" class=" J_ping" report-eventid="Jshop_Html_Content" report-eventparam="1_http://sale.jd.com/m/act/pcPSAfmjW1U8l.html_351629"><img class="J_imgLazyload" src="http://img14.360buyimg.com/cms/g10/M00/13/04/rBEQWFFj4PUIAAAAAAAESxyqJLUAADvdAIHC9oAAARj186.gif"  srcset="http://img14.360buyimg.com/cms/jfs/t733/56/421895733/36157/d906d420/54af4d51N3b711f83.jpg" width="640" height="400" alt="" /></a>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->

</div>

</div>

</div>
<div class="j_m_car"><a href="http://m.jd.com/cart/cart.action"></a><i></i></div>
<input type="hidden" value="68984" id="mobAppId"/>
<input type="hidden" value="231758" id="pcAppId"/>
<div id="mob_adv_1003"></div>
<div id="mob_adv_1004"></div>
<div id="mob_adv_1005"></div>
</body>
<script type="text/javascript" src="http://sale.jd.com/jm.htm?js=/m-misc/script/base.js,/m-misc/script/module.js,/m-misc/script/jshop-lib.js,/m-misc/script/common.js&t=1501152020"></script>
<!--<script src="http://static.360buyimg.com/jshop/sale/mobile/script/statistic-pretreat.js"></script>-->
<!-- MBA -->
<!--<script type="text/javascript" src="http://h5.m.jd.com/active/common/installapplayer.js"></script>-->
<!--<script type="text/javascript" src="http://h5.m.jd.com/active/common/ping.min.js"></script>-->
<!--&lt;!&ndash;<script type="text/javascript">&ndash;&gt;-->
<!--//    ping.init({'pageParam': '68984'}); // MBA init-->
<!--//    commonLoder.header("国际大牌特惠");-->
<!--//    commonLoder.footer();-->
<!--//    commonLoder.initActPageParams();-->
<!--//    commonLoder.getAdByUrl();-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
</html>