<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="product" content="Metro UI CSS Framework">


<link href="../css/metro-bootstrap.css" rel="stylesheet">
<link href="../css/metro-bootstrap-responsive.css" rel="stylesheet">
<link href="../css/iconFont.css" rel="stylesheet">
<link href="../css/docs.css" rel="stylesheet">
<link href="../js/prettify/prettify.css" rel="stylesheet">
<!--<link href="../css/smoothness/jquery-ui-1.10.4.custom.css" rel="stylesheet">-->
<script src="../js/load-metro.js"></script>
<!--<script src="../js/jquery/jquery.min.js"></script>-->

<link rel="stylesheet" type="text/css" media="screen"
      href="../js/jquery.jqGrid-4.6.0/css/themes/ui-lightness/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="../js/jquery.jqGrid-4.6.0/css/ui.jqgrid.css"/>
<script type="text/javascript" src="../js/jquery.jqGrid-4.6.0/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../js/jquery.jqGrid-4.6.0/js/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="../js/jquery.jqGrid-4.6.0/js/jquery.jqGrid.min.js"></script>

<script src="../js/jquery/jquery.widget.min.js"></script>
<script src="../js/jquery/jquery.mousewheel.js"></script>
<script src="../js/prettify/prettify.js"></script>
<script src="../js/holder/holder.js"></script>
<script src="../js/docs.js"></script>

<script src="../js/metro/metro-scroll.js"></script>

<script src="../js/datepicker/jquery-ui-1.10.4.custom.min.js"></script>

<script src="../js/metro.js"></script>
<script src="../js/github.js"></script>

<script src="../js/datepicker/jquery.ui.datepicker-zh-CN.js"></script>


<script src="../js/metro/metro-scroll.js"></script>
<script src="../js/district/selectdistrict.js"></script>

<script>

    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1,                 //月份
            "d+": this.getDate(),                    //日
            "h+": this.getHours(),                   //小时
            "m+": this.getMinutes(),                 //分
            "s+": this.getSeconds(),                 //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds()             //毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    var _countercode= '<%=  countercode %>';

    $(document).ready(function () {
        //assistantList获取
        var assMap={};
        <% assistantList.forEach(function(assistant){ %>
        var assid= '<%= assistant.SALESMANCODE %>';
        var name= '<%= assistant.SALESMANNAME %>';
        assMap[assid]=name;
        <% }); %>
//        alert(JSON.stringify(assMap));

        jQuery("#offlineTable").jqGrid({
            url:"/orders/getOfflineOrder",
            datatype: "json",
            height: 360,
            width: document.body.clientWidth * 0.96,
//            autowidth: true,
            shrinkToFit: true,
            colNames: [
                "订单编码",
                "实付总价",
                "自提或配送",
                "开单营业员",
                "下单时间",
                "订单状态",
                "是否拼单",
                "POS凭条号",
                ""
            ],
            colModel: [
                {name: 'OFFLINEORDERCODE', index: 'OFFLINEORDERCODE'},
                {name: 'PAYMENTSTATE', index: 'PAYMENTSTATE',align:'right',formatter: priceFormat},
                {name: 'DELIVERYMODE', index: 'DELIVERYMODE',formatter: deliveryFormat},
                {name: 'SALESMANCODE', index: 'SALESMANCODE',formatter:assFormat},
                {name: 'PLACETIME', index: 'PLACETIME',formatter:dateFormat},
                {name: 'ORDERSTATE', index: 'ORDERSTATE', formatter: 'select', edittype: "select", editoptions: {value: "0:未支付;4:已支付;5:已支付;6:已支付;7:已支付;8:交易成功;9:交易关闭;10:交易关闭;11:交易关闭;12:交易关闭;13:交易关闭;100:退货中;101:退货成功;102:退货关闭"}},
                {name: 'PAYMENTSTATE', index: 'PAYMENTSTATE', formatter: 'select', edittype: "select", editoptions: {value: "0:否;1:否;2:是"}},
                {name: 'POSTRANSCODE', index: 'POSTRANSCODE'},
                {name: 'OFFLINEORDERCODE', index: 'OFFLINEORDERCODE',align:'center', width:80 ,sortable: false, formatter: conFormat1}
            ],
            rowNum: 30,
            rowList: [10, 30, 50],
            pager: '#offllineDiv',
            viewrecords: true,
            sortname: 'PLACETIME',
            sortorder: "desc",
            caption: "订单列表",
            fitColumns: true,
            editurl: 'clientArray',
            onSelectRow: function () {

            },
            onSelectAll: function () {

            },
            loadComplete: function () {

            },
            gridComplete: function () {
                var rowdata = $("#offlineTable").jqGrid('getRowData');
                var rowid = $("#offlineTable").jqGrid('getDataIDs');
                for(var i = 0; i < rowdata.length; i++) {
                    var data = rowdata[i].ORDERSTATE;
                    var id = rowid[i];
                    if(data == 0 && data != "") {
                        //未支付-蓝色
//                        $("#" + id + ":first").find("td").css("background-color", "#97CBFF");
                        $("#offlineTable").find("tr[id = '" + id + "']").find("td:eq(5)").css("background-color", "#97CBFF");
                    } else if(data > 3 && data < 8) {
                        //已支付-绿色
//                        $("#" + id + ":first").find("td").css("background-color", "#79FF79");
                        $("#offlineTable").find("tr[id = '" + id + "']").find("td:eq(5)").css("background-color", "#79FF79");
                    } else if(data == 8) {
                        //交易完成-白色
//                        $("#" + id + ":first").find("td").css("background-color", "#FFFFFF");
                        $("#offlineTable").find("tr[id = '" + id + "']").find("td:eq(5)").css("background-color", "#FFFFFF");
                    } else if(data > 8 && data < 14) {
                        //交易关闭-灰色
//                        $("#" + id + ":first").find("td").css("background-color", "#d0d0d0");
                        $("#offlineTable").find("tr[id = '" + id + "']").find("td:eq(5)").css("background-color", "#d0d0d0");
                    } else if(data > 99 && data < 103) {
                        //退货-红色
//                        $("#" + id + ":first").find("td").css("background-color", "#FF5151");
                        $("#offlineTable").find("tr[id = '" + id + "']").find("td:eq(5)").css("background-color", "#FF5151");
                    }
                }
            }
        });
        jQuery("#offlineTable").jqGrid('navGrid', "#offllineDiv", {search: false, edit: false, add: false, del: false})
        jQuery("#offlineTable").jqGrid('setGridParam', {data: []}).trigger('reloadGrid');


        jQuery("#onlineTable").jqGrid({
            url:"/orders/getOnlineOrder",
            datatype: "json",
            height: 360,
            width:  document.body.clientWidth * 0.96,
//            autowidth: true,
            shrinkToFit: true,
            colNames: [
                "订单编码",
                "实付总价",
                "app用户",
                "联系方式",
                "自提或配送",
                "支付方式",
                "接单营业员",
                "下单时间",
                "订单状态",
                ""
            ],
            colModel: [
                {name: 'ONLINEORDERCODE', index: 'ONLINEORDERCODE',width:200},
                {name: 'RECEIVABLEAMT', index: 'RECEIVABLEAMT',width:100,align:'right',formatter:'number'},
                {name: 'USERCODE', index: 'USERCODE',width:90,align:'center'},
                {name: 'TELEPHONE', index: 'TELEPHONE'},
                {name: 'DELIVERYMODE', index: 'DELIVERYMODE',width:80,formatter: deliveryFormat},
                {name: 'PAYMENTMODE', index: 'PAYMENTMODE',width:80,formatter: 'select', edittype: "select", editoptions: {value: "0:现场付款;1:在线付款;2:货到付款"}},
                {name: 'SALESMANCODE', index: 'SALESMANCODE',width:80,formatter:assFormat},
                {name: 'TIME', index: 'TIME',formatter:dateFormat},
                {name: 'ORDERSTATE', index: 'ORDERSTATE',width:80,formatter:stateFormat},
                {name: 'ONLINEORDERCODE', index: 'ONLINEORDERCODE',align:'center', width:90 ,sortable: false, formatter: conFormat2}
            ],
            rowNum: 30,
            rowList: [10, 30, 50],
            pager: '#onlineDiv',
            viewrecords: true,
            sortname: 'TIME',
            sortorder: "desc",
            caption: "订单列表",

            fitColumns: true,
            editurl: 'clientArray',
            onSelectRow: function () {

            },
            onSelectAll: function () {

            },
            loadComplete: function () {

            },
            gridComplete: function () {
                var rowdata = $("#onlineTable").jqGrid('getRowData');
                var rowid = $("#onlineTable").jqGrid('getDataIDs');
                for(var i = 0; i < rowdata.length; i++) {
                    var data = rowdata[i].ORDERSTATE;
                    var id = rowid[i];
                    if(data == "未支付") {
                        //未支付-蓝色
                        $("#onlineTable").find("tr[id = '" + id + "']").find("td").css("background-color", "#97CBFF");
                    } else if(data == "待确认") {
                        //待确认-紫色
                        $("#onlineTable").find("tr[id = '" + id + "']").find("td").css("background-color", "#FF44FF");
                    } else if(data == "待别柜确认") {
                        //待别柜确认-黄色
                        $("#onlineTable").find("tr[id = '" + id + "']").find("td").css("background-color", "#FFE66F");
                    } else if(data == "已确认") {
                        //已确认-绿色
                        $("#onlineTable").find("tr[id = '" + id + "']").find("td").css("background-color", "#79FF79");
                    } else if(data == "交易成功") {
                        //交易完成-白色
                        $("#onlineTable").find("tr[id = '" + id + "']").find("td").css("background-color", "#FFFFFF");
                    } else if(data == "交易关闭") {
                        //交易关闭-灰色
                        $("#onlineTable").find("tr[id = '" + id + "']").find("td").css("background-color", "#d0d0d0");
                    }
                }
            }
        });
        jQuery("#onlineTable").jqGrid('navGrid', "#onlineDiv", {search: false, edit: false, add: false, del: false})
        jQuery("#onlineTable").jqGrid('setGridParam', {data: []}).trigger('reloadGrid');

        jQuery("#offlineRetTable").jqGrid({
            url:"/orders/getOfflineRetOrder",
            datatype: "json",
            height: 360,
            width: document.body.clientWidth * 0.96,
            autowidth: false,
            shrinkToFit: true,
            colNames: [
                "退货单编码",
                "总退货额",
                "退货开单人员",
                "下单时间",
                "退货单状态",
                "POS条编码",
                "是否跨柜台",
                ""
            ],
            colModel: [
                {name: 'OFFLINEORDERCODE', index: 'OFFLINEORDERCODE'},
                {name: 'RECEIVABLEAMT', index: 'RECEIVABLEAMT',align:'right',formatter: priceFormat},
                {name: 'RETUSERCODE', index: 'RETUSERCODE'},
                {name: 'PLACETIME', index: 'PLACETIME',formatter:dateFormat},
                {name: 'ORDERSTATE', index: 'ORDERSTATE', formatter: 'select', edittype: "select", editoptions: {value: "0:未支付;4:已支付;5:已支付;6:已支付;7:已支付;8:交易成功;9:交易关闭;10:交易关闭;11:交易关闭;12:交易关闭;13:交易关闭;100:退货中;101:退货成功;102:退货关闭"}},
                {name: 'RETORIPOSTRANSCODE', index: 'RETORIPOSTRANSCODE'},
                {name: 'ISMULTICOUNTERS', index: 'ISMULTICOUNTERS', formatter: 'select', edittype: "select", editoptions: {value: "0:本柜;1:跨柜"}},
                {name: 'OFFLINEORDERCODE', index: 'OFFLINEORDERCODE',align:'center', width:90 ,sortable: false, formatter: conFormat3}
            ],
            rowNum: 30,
            rowList: [10, 30, 50],
            pager: '#offlineRetDiv',
            viewrecords: true,
            sortname: 'PLACETIME',
            sortorder: "desc",
            caption: "退单列表",
            fitColumns: true,
            editurl: 'clientArray',
            onSelectRow: function () {

            },
            onSelectAll: function () {

            },
            loadComplete: function () {

            },
            gridComplete: function () {
                var rowdata = $("#offlineRetTable").jqGrid('getRowData');
                var rowid = $("#offlineRetTable").jqGrid('getDataIDs');
                for(var i = 0; i < rowdata.length; i++) {
                    var data = rowdata[i].ORDERSTATE;
                    var id = rowid[i];
                    if(data == 0 && data != "") {
                        //未支付-蓝色
                        $("#offlineRetTable").find("tr[id = '" + id + "']").find("td:eq(4)").css("background-color", "#97CBFF");
                    } else if(data > 3 && data < 8) {
                        //已支付-绿色
                        $("#offlineRetTable").find("tr[id = '" + id + "']").find("td:eq(4)").css("background-color", "#79FF79");
                    } else if(data == 8) {
                        //交易完成-白色
                        $("#offlineRetTable").find("tr[id = '" + id + "']").find("td:eq(4)").css("background-color", "#FFFFFF");
                    } else if(data > 8 && data < 14) {
                        //交易关闭-灰色
                        $("#offlineRetTable").find("tr[id = '" + id + "']").find("td:eq(4)").css("background-color", "#d0d0d0");
                    } else if(data ==100) {
                        //退货-红色
                        $("#offlineRetTable").find("tr[id = '" + id + "']").find("td:eq(4)").css("background-color", "#97CBFF");
                    }else if(data ==101) {
                        //退货-红色
                        $("#offlineRetTable").find("tr[id = '" + id + "']").find("td:eq(4)").css("background-color", "#FFFFFF");
                    }else if(data ==102) {
                        //退货-红色
                        $("#offlineRetTable").find("tr[id = '" + id + "']").find("td:eq(4)").css("background-color", "#FF5151");
                    }
                }
            }
        });
        jQuery("#offlineRetTable").jqGrid('navGrid', "#offllineRetDiv", {search: false, edit: false, add: false, del: false})
        jQuery("#offlineRetTable").jqGrid('setGridParam', {data: []}).trigger('reloadGrid');

        jQuery("#userBuyTable").jqGrid({
            url:"/orders/getOrderCounterUserBuy",
            datatype: "json",
            height: 360,
            width:  document.body.clientWidth * 0.96,
//            autowidth: true,
            shrinkToFit: true,
            colNames: [
                "订单编码",
                "实付总价",
                "自提或配送",
                "支付方式",
                "开单接单营业员",
                "下单时间",
                "支付时间",
                "订单状态",
                ""
            ],
            colModel: [
                {name: 'ORDERCODE', index: 'ORDERCODE'},
                {name: 'PAYMENTSTATE', index: 'PAYMENTSTATE',align:'right',formatter: priceFormat},
                {name: 'DELIVERYMODE', index: 'DELIVERYMODE',formatter: deliveryFormat},
                {name: 'PAYMENTMODE', index: 'PAYMENTMODE',width:80,formatter: 'select', edittype: "select", editoptions: {value: "0:POS付款;1:App付款;2:货到付款;"}},
                {name: 'SALESMANCODE', index: 'SALESMANCODE',formatter:assFormat},
                {name: 'PLACETIME', index: 'PLACETIME',formatter:dateFormat},
                {name: 'PAYTIME', index: 'PAYTIME',formatter:dateFormat},
                {name: 'ORDERSTATE', index: 'ORDERSTATE', formatter: 'select', edittype: "select", editoptions: {value: "0:未支付;1:未支付;2:确认中;3:已确认;4:已支付;5:已支付;6:已支付;7:已支付;8:交易成功;9:交易关闭;10:交易关闭;11:交易关闭;12:交易关闭;13:交易关闭;100:退货中;101:退货成功;102:退货关闭"}},
                {name: 'ORDERCODE', index: 'ORDERCODE',align:'center', width:80 ,sortable: false, formatter: conFormat}
            ],
            rowNum: 30,
            rowList: [10, 30, 50],
            pager: '#userBuyDiv',
            viewrecords: true,
            sortname: 'PLACETIME',
            sortorder: "desc",
            caption: "订单列表",
            fitColumns: true,
            editurl: 'clientArray',
            onSelectRow: function () {

            },
            onSelectAll: function () {

            },
            loadComplete: function () {

            },
            gridComplete: function () {
                var rowdata = $("#userBuyTable").jqGrid('getRowData');
                var rowid = $("#userBuyTable").jqGrid('getDataIDs');
                for(var i = 0; i < rowdata.length; i++) {
                    var data = rowdata[i].ORDERSTATE;
                    var id = rowid[i];
                    if(data == 0 && data != "") {
                        //未支付-蓝色
//                        $("#" + id + ":first").find("td").css("background-color", "#97CBFF");
                        $("#userBuyTable").find("tr[id = '" + id + "']").find("td").css("background-color", "#97CBFF");
                    } else if(data > 3 && data < 8) {
                        //已支付-绿色
//                        $("#" + id + ":first").find("td").css("background-color", "#79FF79");
                        $("#userBuyTable").find("tr[id = '" + id + "']").find("td").css("background-color", "#79FF79");
                    } else if(data == 8) {
                        //交易完成-白色
//                        $("#" + id + ":first").find("td").css("background-color", "#FFFFFF");
                        $("#userBuyTable").find("tr[id = '" + id + "']").find("td").css("background-color", "#FFFFFF");
                    } else if(data > 8 && data < 14) {
                        //交易关闭-灰色
//                        $("#" + id + ":first").find("td").css("background-color", "#d0d0d0");
                        $("#userBuyTable").find("tr[id = '" + id + "']").find("td").css("background-color", "#d0d0d0");
                    } else if(data > 99 && data < 103) {
                        //退货-红色
//                        $("#" + id + ":first").find("td").css("background-color", "#FF5151");
                        $("#userBuyTable").find("tr[id = '" + id + "']").find("td").css("background-color", "#FF5151");
                    }
                }
            }
        });
        jQuery("#userBuyTable").jqGrid('navGrid', "#userBuyDiv", {search: false, edit: false, add: false, del: false})
        jQuery("#userBuyTable").jqGrid('setGridParam', {data: []}).trigger('reloadGrid');

        function assFormat(cellvalue, options, rowObject) {
            var name=assMap[cellvalue];
            if(name) return name;
            else if(cellvalue) return cellvalue;
            else return "";
        }

        function stateFormat(cellvalue, options, rowObject){
//            "0:未支付;4:已支付;5:已支付;6:已支付;7:已支付;8:交易成功;9:交易关闭;10:交易关闭;11:交易关闭;12:交易关闭;13:交易关闭"
            var orderstate=rowObject.ORDERSTATE;
            var confirmstate=rowObject.CONFIRMSTATE;
            var deliverymode=rowObject.DELIVERYMODE;
            var paymentmode=rowObject.PAYMENTMODE;

            if(orderstate==1 && paymentmode!=2){
                return "未支付";
            }
            else if((orderstate==2 || (orderstate==1 && paymentmode==2)) && confirmstate==0){
                return "待确认";
            }
            else if((orderstate==2 || (orderstate==1 && paymentmode==2)) && confirmstate==1){
                return "待别柜确认";
            }
            else if(orderstate==3||orderstate==5||orderstate==6||orderstate==7){
                return "已确认"
            }
            else if(orderstate==8){
                return "交易成功"
            }
            else{
                return "交易关闭"
            }
        }

        function dateFormat(cellvalue, options, rowObject) {
            if (!cellvalue) return '';
            return new Date(cellvalue).Format("yyyy-MM-dd hh:mm");
        }

        function numFormat(cellvalue, options, rowObject) {
            //            alert(JSON.stringify(rowObject));
            var id=rowObject.id;
            var str = '<div id="spinnerDiv_'+id+'" onclick="changeNum(this)">'+
                    '<input class="myspinner" id="spinner_'+id+'" name="value1" value="'+cellvalue+'" min=1 style="width:50px" onkeyup="changeNum(this)" >'+
                    '</div>';

            return str;
        }

        function priceFormat(cellvalue, options, rowObject) {
            var round2=function(x) {
                var f = parseFloat(x);
                if (isNaN(f)) {
                    return false;
                }
                var f = Math.round(x*100)/100;
                var s = f.toString();
                var rs = s.indexOf('.');
                if (rs < 0) {
                    rs = s.length;
                    s += '.';
                }
                while (s.length <= rs + 2) {
                    s += '0';
                }
                return s;
            }
            if(cellvalue==2) {
                return round2(rowObject.RECEIVABLEAMT2);
            }
            else {
                return round2(rowObject.RECEIVABLEAMT);
            }
        }

        function deliveryFormat(cellvalue, options, rowObject) {
            if(cellvalue==0) return "自提";
            var ordercode=rowObject.OFFLINEORDERCODE||rowObject.ONLINEORDERCODE||rowObject.ORDERCODE;
            var str="配送"+
                    "<i class='icon-location-3 on-right on-left' " +
                    "style='cursor:hand; color: green;'  " +
                    "onmouseout='javascript:this.setAttribute(&quot;style&quot;,&quot;cursor:hand;color: green;&quot;)' " +
                    "onmouseover='javascript:this.setAttribute(&quot;style&quot;,&quot;cursor:hand; color: red; &quot;)' " +
                    "id='delivery_" + ordercode + "' onclick='clickDelivery(this)'></i>";
            return str;
        }

        function delFormat(cellvalue, options, rowObject) {
//            alert(JSON.stringify(rowObject));
            var str = "<i class='icon-cancel-2 on-right on-left' " +
                    "style='cursor:hand;background: darkRed; color: white; padding: 4px; border-radius: 50%;'  " +
                    "onmouseout='javascript:this.setAttribute(&quot;style&quot;,&quot;cursor:hand;background: darkRed; color: white; padding: 4px; border-radius: 50%;&quot;)' " +
                    "onmouseover='javascript:this.setAttribute(&quot;style&quot;,&quot;cursor:hand;background: Red; color: white; padding: 4px; border-radius: 50%;&quot;)' " +
                    "id='del_" + cellvalue + "' onclick='clickDel(this)'></i>";

            return str;
        }

        function conFormat1(cellvalue, options, rowObject) {
//            alert(JSON.stringify(rowObject));
            var str = '<button id="content_'+cellvalue+'" class="bg-mecBlue fg-white" style="width:45px;height:13px;margin-top:2px;margin-bottom:2px" onclick="showContent1(this)">查看明细</button>';

            return str;
        }

        function conFormat2(cellvalue, options, rowObject) {
//            alert(JSON.stringify(rowObject));
            var str = '<button id="content_'+cellvalue+'" class="bg-mecBlue fg-white" style="width:45px;height:13px;margin-top:2px;margin-bottom:2px" onclick="showContent2(this)">查看明细</button>';

            return str;
        }

        function conFormat(cellvalue, options, rowObject) {
//            alert(JSON.stringify(rowObject));
            var str = '<button id="content_'+cellvalue+'" class="bg-mecBlue fg-white" style="width:45px;height:13px;margin-top:2px;margin-bottom:2px" onclick="showContent(this)">查看明细</button>';

            return str;
        }

        function conFormat3(cellvalue, options, rowObject) {
//            alert(JSON.stringify(rowObject));
            var str = '<button id="content_'+cellvalue+'" class="bg-mecBlue fg-white" style="width:45px;height:13px;margin-top:2px;margin-bottom:2px" onclick="showContent3(this)">查看明细</button>';

            return str;
        }

        function dataFormat(cellvalue, options, rowObject) {
            if (!cellvalue) return '';
            return new Date(cellvalue).Format("yyyy-MM-dd hh:mm");
        }

        function delFormat(cellvalue, options, rowObject) {
            var str = "<input id='del_" + cellvalue + "' type='button'>删除<input/>";
            return str;
        }

        $("#search1").click(function () {
            var qry = $("#qry1").val().trim();//去除首尾空格
            $("#offlineTable").jqGrid('setGridParam', { url: '/orders/getOfflineOrder?qry=' + qry}).trigger('reloadGrid');
        })

        $("#search2").click(function () {
            var qry = $("#qry2").val().trim();//去除首尾空格
            $("#onlineTable").jqGrid('setGridParam', { url: '/orders/getOnlineOrder?qry=' + qry}).trigger('reloadGrid');
        })

        $("#search3").click(function () {
            var qry = $("#qry3").val().trim();//去除首尾空格
            $("#offlineRetTable").jqGrid('setGridParam', { url: '/orders/getOfflineRetOrder?qry=' + qry}).trigger('reloadGrid');
        })

        $("#search4").click(function () {
            var qry = $("#qry4").val().trim();//去除首尾空格
            if(!qry)$("#userBuyTable").jqGrid('setGridParam', {data: []}).trigger('reloadGrid');
            else $("#userBuyTable").jqGrid('setGridParam', { url: '/orders/getOrderCounterUserBuy?qry=' + qry}).trigger('reloadGrid');
        })
    });

    var showContent=function(element){
        var ordercode=element.id.replace("content_","");
        if(ordercode.charAt(0)=='0'){
            showContent1(element);
        }
        else{
            showContent2(element);
        }
    }

    var showContent1=function(element){
        var ordercode=element.id.replace("content_","");
//        alert(ordercode);
        $.ajax({
            'url': '/orders/getOfflineContentByOrder',
            'type': 'get',
            'data': {OFFLINEORDERCODE:ordercode},
            'datatype': 'json',
            'timeout': 10000,
            'error': function (msg) {
                alert("获取订单明细失败");
                return;
            },
            'success': function (msg) {
                if(msg.status==false){
                    alert("获取订单明细失败");
                    return;
                }
                else{
//                            alert(JSON.stringify(msg.data));
                    var contents=msg.data;
                    $.Dialog({
                        shadow: true,
                        overlay: true,
                        title: '',
                        draggable: true,
                        width: 900,
                        height: 220,
                        padding: 10,
                        onShow: function (_dialog) {
                            var content = '<div style="width:100%">' +
                                    '<table style="width:100%;margin-bottom: 7px">' +
                                    '<tr style="width:100%">' +
                                    '<td>' +
                                    ' <table id="contentTable"></table>' +
                                    '</td>' +
                                    '</tr>' +
                                    ' </table>' +
                                    '</div>';

                            $.Dialog.title("订单详情");
                            $.Dialog.content(content);
                            $.Metro.initInputs();

                            jQuery("#contentTable").jqGrid({
                                datatype: "local",
                                height: 150,
                                width: 900,
                                autowidth: true,
                                shrinkToFit: true,
                                colNames: [
                                    "商品编码",
                                    "SKC编码",
                                    "供应商SKC编码",
                                    "名称",
                                    "品牌",
                                    "颜色",
                                    "尺码",
                                    "单价",
                                    "数量",
                                    "手工扣额"
                                ],
                                colModel: [
                                    {name: 'ITEMCODE', index: 'ITEMCODE'},
                                    {name: 'SKCCODE', index: 'SKCCODE'},
                                    {name: 'MERCHANTSKCCODE', index: 'MERCHANTSKCCODE'},
                                    {name: 'ITEMNAME', index: 'ITEMNAME'},
                                    {name: 'BRANDNAME', index: 'BRANDNAME'},
                                    {name: 'COLOR', index: 'COLOR'},
                                    {name: 'SIZE', index: 'SIZE'},
//                                    {name: 'PRICE', index: 'PRICE', sortable: false},
                                    {name: 'UNITPRICE', index: 'UNITPRICE',align:'right',formatter:'number'},
                                    {name: 'NUM', index: 'NUM'},
                                    {name:'HANDAMT',index:'HANDAMT'}
                                ],
                                rowNum: 10000,
                                rowList: [10000],
                                pager: '',
                                viewrecords: true,
                                sortname: 'ITEMCODE',
                                sortorder: "asc",
                                caption: "",
                                onSelectRow: function () {

                                }
                            });
                            $("#contentTable").jqGrid('setGridParam', {data: contents}).trigger('reloadGrid');
                        }
                    });
                }
            }
        });
    }

    var showContent2=function(element){
        var ordercode=element.id.replace("content_","");
//        alert(ordercode);
        $.ajax({
            'url': '/orders/getOnlineContentByOrder',
            'type': 'get',
            'data': {ONLINEORDERCODE:ordercode},
            'datatype': 'json',
            'timeout': 10000,
            'error': function (msg) {
                alert("获取订单明细失败");
                return;
            },
            'success': function (msg) {
                if(msg.status==false){
                    alert("获取订单明细失败");
                    return;
                }
                else{
//                            alert(JSON.stringify(msg.data));
                    var contents=msg.data;
                    $.Dialog({
                        shadow: true,
                        overlay: true,
                        title: '',
                        draggable: true,
                        width: 900,
                        height: 220,
                        padding: 10,
                        onShow: function (_dialog) {
                            var content = '<div style="width:100%">' +
                                    '<table style="width:100%;margin-bottom: 7px">' +
                                    '<tr style="width:100%">' +
                                    '<td>' +
                                    ' <table id="contentTable"></table>' +
                                    '</td>' +
                                    '</tr>' +
                                    ' </table>' +
                                    '</div>';

                            $.Dialog.title("订单详情");
                            $.Dialog.content(content);
                            $.Metro.initInputs();

                            jQuery("#contentTable").jqGrid({
                                datatype: "local",
                                height: 150,
                                width: 900,
                                autowidth: true,
                                shrinkToFit: true,
                                colNames: [
                                    "商品编码",
                                    "SKC编码",
                                    "供应商SKC编码",
                                    "名称",
                                    "品牌",
                                    "颜色",
                                    "尺码",
                                    "单价",
                                    "数量"
                                ],
                                colModel: [
                                    {name: 'ITEMCODE', index: 'ITEMCODE'},
                                    {name: 'SKCCODE', index: 'SKCCODE'},
                                    {name: 'MERCHANTSKCCODE', index: 'MERCHANTSKCCODE'},
                                    {name: 'ITEMNAME', index: 'ITEMNAME'},
                                    {name: 'BRANDNAME', index: 'BRANDNAME'},
                                    {name: 'COLOR', index: 'COLOR'},
                                    {name: 'SIZE', index: 'SIZE'},
//                                    {name: 'PRICE', index: 'PRICE', sortable: false},
                                    {name: 'PRICE', index: 'PRICE',align:'right',formatter:'number'},
                                    {name: 'NUM', index: 'NUM'}
                                ],
                                rowNum: 10000,
                                rowList: [10000],
                                pager: '',
                                viewrecords: true,
                                sortname: 'ITEMCODE',
                                sortorder: "asc",
                                caption: "",
                                onSelectRow: function () {

                                }
                            });
                            $("#contentTable").jqGrid('setGridParam', {data: contents}).trigger('reloadGrid');
                        }
                    });
                }
            }
        });
    }

    var showContent3=function(element){
        var ordercode=element.id.replace("content_","");
//        alert(ordercode);
        $.ajax({
            'url': '/orders/getOfflineRetContentByOrder',
            'type': 'get',
            'data': {OFFLINEORDERCODE:ordercode},
            'datatype': 'json',
            'timeout': 10000,
            'error': function (msg) {
                alert("获取退货单明细失败");
                return;
            },
            'success': function (msg) {
                if(msg.status==false){
                    alert("获取退货单明细失败");
                    return;
                }
                else{
//                            alert(JSON.stringify(msg.data));
                    var contents=msg.data;
                    $.Dialog({
                        shadow: true,
                        overlay: true,
                        title: '',
                        draggable: true,
                        width: 900,
                        height: 220,
                        padding: 10,
                        onShow: function (_dialog) {
                            var content = '<div style="width:100%">' +
                                    '<table style="width:100%;margin-bottom: 7px">' +
                                    '<tr style="width:100%">' +
                                    '<td>' +
                                    ' <table id="contentTable"></table>' +
                                    '</td>' +
                                    '</tr>' +
                                    ' </table>' +
                                    '</div>';

                            $.Dialog.title("退货单详情");
                            $.Dialog.content(content);
                            $.Metro.initInputs();

                            jQuery("#contentTable").jqGrid({
                                datatype: "local",
                                height: 150,
                                width: 900,
                                autowidth: true,
                                shrinkToFit: true,
                                colNames: [
                                    "商品编码",
                                    "SKC编码",
                                    "供应商SKC编码",
                                    "名称",
                                    "品牌",
                                    "颜色",
                                    "尺码",
                                    "单价",
                                    "所退数量",
                                    "所退金额",
                                    "柜号"
                                ],
                                colModel: [
                                    {name: 'ITEMCODE', index: 'ITEMCODE'},
                                    {name: 'SKCCODE', index: 'SKCCODE'},
                                    {name: 'MERCHANTSKCCODE', index: 'MERCHANTSKCCODE'},
                                    {name: 'ITEMNAME', index: 'ITEMNAME'},
                                    {name: 'BRANDNAME', index: 'BRANDNAME'},
                                    {name: 'COLOR', index: 'COLOR'},
                                    {name: 'SIZE', index: 'SIZE'},
//                                    {name: 'PRICE', index: 'PRICE', sortable: false},
                                    {name: 'UNITPRICE', index: 'UNITPRICE',align:'right',formatter:'number'},
                                    {name: 'NUM', index: 'NUM'},
                                    {name: 'RETAILAMT', index: 'RETAILAMT'},
                                    {name: 'COUNTERCODE', index: 'COUNTERCODE'}
                                ],
                                rowNum: 10000,
                                rowList: [10000],
                                pager: '',
                                viewrecords: true,
                                sortname: 'ITEMCODE',
                                sortorder: "asc",
                                caption: "",
                                gridComplete: function () {
                                    var rowdata = $("#contentTable").jqGrid('getRowData');
                                    var rowid = $("#contentTable").jqGrid('getDataIDs');
                                    for(var i = 0; i < rowdata.length; i++) {
                                        var data = rowdata[i].COUNTERCODE;
                                        var id = rowid[i];
                                        if(data != _countercode) {
                                            //未支付-灰色
                                            $("#contentTable").find("tr[id = '" + id + "']").find("td").css("background-color", "#d0d0d0");
                                        }
                                    }
                                },
                                onSelectRow: function () {

                                }
                            });
                            $("#contentTable").jqGrid('setGridParam', {data: contents}).trigger('reloadGrid');
                        }
                    });
                }
            }
        });
    }

    var clickDelivery=function(element){
        var ordercode=element.id.replace("delivery_","");
        var options={};
        if(ordercode && ordercode.charAt(0)=='1'){
            options.ONLINEORDERCODE=ordercode;
        }
        else{
            options.OFFLINEORDERCODE=ordercode;
        }
//        alert(ordercode);
        $.ajax({
            'url': '/orders/getSiteInfoByOrder',
            'type': 'get',
            'data': options,
            'datatype': 'json',
            'timeout': 10000,
            'error': function (msg) {
                alert("获取配送地址信息失败!");
                return;
            },
            'success': function (msg) {
                if(msg.status==false){
                    alert("获取配送地址信息失败!");
                    return;
                }
                else{
//                    alert(JSON.stringify(msg.data));
                    var siteinfo =msg.data;
                    if(!siteinfo||Object.keys(siteinfo).length==0){
                        alert("没有找到配送地址信息!");
                        return;
                    }
                    $.Dialog({
                        shadow: true,
                        overlay: true,
                        title: '',
                        draggable: true,
                        width: 600,
                        height: 200,
                        padding: 10,
                        onShow: function (_dialog) {
                            var content =
                                    '<table width="100%" > '+
                                    '<tr style="width:100%"> '+
                                    '<td style="width:20%;height:42px"> '+
                                    '<label class="col-sm-2 control-label" style="width:150px"> 收货人: </label>'+
                                    '<input id="site_person_'+ordercode+'" type="text" data-state="info" '+
                                    '   placeholder="收货人*" style="height:30px;width:90%" readonly/> '+
                                    '</td> '+
                                    '<td style="width:20%;height:42px"> '+
                                    '<label class="col-sm-2 control-label" style="width:150px"> 收货人手机: </label>'+
                                    '<input id="site_telephone_'+ordercode+'" type="text" data-state="info" '+
                                    '   placeholder="联系方式*" style="height:30px;width:90%" readonly/> '+
                                    '</td> '+
                                    ' '+
                                    '<td style="width:20%;height:42px"> '+
                                    '<label class="col-sm-2 control-label" style="width:150px"> 省: </label>'+
                                    '<input id="selProvince_'+ordercode+'" type="text" data-state="info" '+
                                    '   placeholder="省" style="height:30px;width:90%" readonly/> '+
                                    '</td> '+
                                    '<td style="width:20%;height:42px"> '+
                                    '<label class="col-sm-2 control-label" style="width:150px"> 市: </label>'+
                                    '<input id="selCity_'+ordercode+'" type="text" data-state="info" '+
                                    '   placeholder="市" style="height:30px;width:90%" readonly/> '+
                                    '</td> '+
                                    '<td style="width:20%;height:42px"> '+
                                    '<label class="col-sm-2 control-label" style="width:150px"> 区: </label>'+
                                    '<input id="selArea_'+ordercode+'" type="text" data-state="info" '+
                                    '   placeholder="区" style="height:30px;width:90%" readonly/> '+
                                    '</td> '+
                                    '</tr> '+
                                    ' '+
                                    '<tr style="width:100%"> '+
                                    '<td colspan="5"> '+
                                    '<label class="col-sm-2 control-label" style="width:200px"> 详细地址: </label>'+
                                    '<input id="site_detail_'+ordercode+'" type="text" data-state="info" placeholder="详细地址*" '+
                                    '   style="height:30px;width:98%" readonly/> '+
                                    '</td> '+
                                    '</tr> '+
                                    '</table>';

                            $.Dialog.title("配送地址");
                            $.Dialog.content(content);
                            $.Metro.initInputs();

                            $("#site_person_"+ordercode).val(siteinfo.PERSON);
                            $("#site_telephone_"+ordercode).val(siteinfo.TELEPHONE);
                            $("#selProvince_"+ordercode).val(siteinfo.PROVINCE);
                            $("#selCity_"+ordercode).val(siteinfo.CITY);
                            $("#selArea_"+ordercode).val(siteinfo.DISTRICT);
                            $("#site_detail_"+ordercode).val(siteinfo.DETAIL);
                        }
                    });
                }
            }
        });
    }


</script>
<title></title>
<style type="text/css" class="init">
    .ui-jqgrid,
    .ui-jqgrid * {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        -ms-box-sizing: content-box;
        -o-box-sizing: content-box;
        box-sizing: content-box;
    }
</style>

</head>
<body class="metro">

<div id="maindiv">
    <div class=row>
        <!--<div class="mectemp bd-orange">-->
            <div class="tab-control" data-role="tab-control">
                <ul class="tabs">
                    <li class="active"><a href="#_page_1">线下订单</a></li>
                    <li><a href="#_page_2">网上订单</a></li>
                    <li><a href="#_page_3">线下退货单</a></li>
                    <li><a href="#_page_4">用户历史</a></li>
                </ul>

                <div class="frames bd-orange">
                    <div class="frame" id="_page_1">
                        <div class="input-control text" style="width: 300px;">
                            <input id="qry1" type="text" data-state="info"
                                   placeholder="关键字" />
                            <button class="btn-search" id="search1" value="搜索"/>
                        </div>
                        <br>
                        <div style="width:100%">
                            <table style="width:100%">
                                <tr style="width:100%">
                                    <td>
                                        <table id="offlineTable"></table>
                                        <div id="offllineDiv"></div>
                                    </td>

                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="frame" id="_page_2">
                        <div class="input-control text" style="width: 300px;">
                            <input id="qry2" type="text" data-state="info"
                                   placeholder="关键字" />
                            <button class="btn-search" id="search2" value="搜索"/>
                        </div>
                        <br>
                        <div style="width:100%">
                            <table style="width:100%">
                                <tr style="width:100%">
                                    <td>
                                        <table id="onlineTable"></table>
                                        <div id="onlineDiv"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="frame" id="_page_3">
                        <div class="input-control text" style="width: 300px;">
                            <input id="qry3" type="text" data-state="info"
                                   placeholder="关键字" />
                            <button class="btn-search" id="search3" value="搜索"/>
                        </div>
                        <br>
                        <div style="width:100%">
                            <table style="width:100%">
                                <tr style="width:100%">
                                    <td>
                                        <table id="offlineRetTable"></table>
                                        <div id="offlineRetDiv"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="frame" id="_page_4">
                        <div class="input-control text" style="width: 300px;">
                            <input id="qry4" type="text" data-state="info"
                                   placeholder="手机号/会员卡号/App账户名" />
                            <button class="btn-search" id="search4" value="搜索"/>
                        </div>
                        <br>
                        <div style="width:100%">
                            <table style="width:100%">
                                <tr style="width:100%">
                                    <td>
                                        <table id="userBuyTable"></table>
                                        <div id="userBuyDiv"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        <!--</div>-->
    </div>
</div>


</body>
</html>

